<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <title th:text="${invoice.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="print"></style>
</head>

<!--<body onload="window.print();">-->
<body>
<div id="printInvoice" style="float:left;width:595px;clear:both;margin-left: 15px;margin-top: 6px;">
    <div style="width:100%;float:left; font: 7px/10px verdana,sans-serif; word-wrap: break-word;padding:0px;margin:0px;">
        <!-- Outer Most block -->
        <div style="width:704px;margin:0px auto;">
            <div style="float:left;width:100%;min-height: 70px;">
                <!-- Product information block -->
                <div style="width: 97%;padding:1.5% 1.5% 0px;float:left;">
                    <div style="width:100%;float:left;border:1px solid #ccc; margin: 0 10px 0 0;">

                        <div style="text-align:right; width: 100%;padding-top:0px;padding-bottom:0px;position:relative;">
                            <img src="https://static5.lenskart.com/images/cust_mailer/Feb-18th/lenskart_bw.jpg"
                                 height="39px" width="77px" alt="Logo">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>

                        <div style="color:#FFFFFF;background:#000000;text-align:center;padding:10px;">
                            <span style="font-size:8px;font-weight:bold;">TAX INVOICE</span>
                        </div>

                        <div style="width:100%;float:left;border-top:1px solid #ccc;  margin: 0 5px 0 0;min-height: 15px;">
                                <span style="float:left; padding:2px;width: 320px;">
                                    <!--In case of lenskart and jj order id is dealskart order id. -->
                                    <b>Contact Email:</b> support@lenskart.com<br>
                                    <b>GSTIN No:</b> 06AACCV7324B1ZO<br>
                                    <b>CIN:</b> U74140DL2011PTC224819<br>
                                    <b>Invoice:</b> #<span id="invoiceNumber" th:text="${invoice.invoiceNumber}"></span><br>
                                    <b>Invoice Date:</b> <span id="invoiceDate" th:text="${invoice.invoiceDate}"></span><br>
                                </span>

                            <!-- Shipping information block start -->
                            <div>
                                <div style="font-size:8px;font-weight:bold;">Shipping Address</div>
                                <div id="shippingAddress" th:if="${invoice.shippingAddress}">
                                    <span th:text="${invoice.shippingAddress.firstName}+' '+${invoice.shippingAddress.lastName}"
                                          th:remove="tag"></span><br>
                                    <span th:text="${invoice.shippingAddress.addressline1}+' '+${invoice.shippingAddress.addressline2}"
                                          th:remove="tag"></span><br>
                                    <span th:text="${invoice.shippingAddress.city}+','+${invoice.shippingAddress.state}+' - '+${invoice.shippingAddress.postcode}"
                                          th:remove="tag"></span>
                                    <b>Telephone No: </b><span
                                        th:text="${invoice.shippingAddress.phoneCode}+'-'+${invoice.shippingAddress.phone}"
                                        th:remove="tag"></span>
                                </div>
                            </div>
                            <!-- Shipping information block start -->

                        </div>

                        <!-- Billing information block start -->
                        <div style="font-size:8px;width:100%;float:left;border-top:1px solid #ccc;">
                            <span style="font-size:8px;font-weight:bold;padding-left: 12px">BILLING ADDRESS :</span>
                            <div id="billingAddress" th:if="${invoice.billingAddress}" style="padding-left: 12px">
                                <span style="border-bottom:1px solid #ccc;"
                                      th:text="${invoice.billingAddress.firstName}+' '+${invoice.billingAddress.lastName}+', '+${invoice.billingAddress.email}"></span>
                                <div style="min-height: 7px;width:100%;float:left; margin: 0 1px 0 0;">
                                    <span style="float:left; padding:5px 0;width: 420px;"
                                          th:text="${invoice.billingAddress.city}+','+${invoice.billingAddress.state}+',Tel: '+${invoice.billingAddress.phoneCode}+'-'+${invoice.billingAddress.phone}"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Billing information block end -->

                        <!-- Goods Tables information block start -->
                        <table border="1px"
                               style="border-collapse: collapse;border: 1px solid #ccc; padding: 3px; text-align: center; width:100%; font-size:7px;"
                               id="itemsTable">
                            <colgroup>
                                <col style="width: 44%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                                <col style="width: 4%;">
                                <col style="width: 12%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Description&nbsp;of&nbsp;Goods</th>
                                <th>UNIT PRICE</th>
                                <th>DISCOUNT</th>
                                <th>IGST</th>
                                <th>SGST</th>
                                <th>CGST</th>
                                <th>QTY</th>
                                <th>UNIT&nbsp;PRICE(Inc.&nbsp;GST)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="good: ${invoice.goods}">
                                <td class="product-name" th:utext="${good.description}"></td>
                                <td class="unit-price" th:text="${good.unitPriceSummary.unitPrice}">0.00</td>
                                <td class="discount" th:text="${good.unitPriceSummary.discount}">0.00</td>
                                <td class="igst"
                                    th:text="${good.unitPriceSummary.IGST}+${good.unitPriceSummary.metadataIGST}">0.00 @
                                    18.0
                                </td>
                                <td class="sgst"
                                    th:text="${good.unitPriceSummary.SGST}+${good.unitPriceSummary.metadataSGST}">0.00 @
                                    0.0
                                </td>
                                <td class="cgst"
                                    th:text="${good.unitPriceSummary.CGST}+${good.unitPriceSummary.metadataCGST}">0.00 @
                                    0.0
                                </td>
                                <td class="quantity" th:text="${good.unitPriceSummary.qty}">1</td>
                                <td class="unit-price-inc-gst" th:text="${good.unitPriceSummary.totalPrice}">0.00</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Goods Tables information block end -->

                        <!-- Tax summary block start -->
                        <div style="width:100%;border-bottom:1px solid #ccc; overflow: hidden; padding: 10px 0;">
                            <div style="float:left;clear: none;width: 20%;padding-left: 63%;">
                                Subtotal(Inc: GST):<br>
                                IGST:<br>
                                CGST:<br>
                                SGST:<br>
                                Grand Total(Inclusive of all taxes):<br>
                            </div>
                            <div style="float:left;padding-left:20px;margin-top:0px;clear: none;">
                                <span id="subtotal" th:text="${invoice.priceSummary.subTotal}">0.00</span><br>
                                <span id="igst" th:text="${invoice.priceSummary.IGST}">0.00</span><br>
                                <span id="cgst" th:text="${invoice.priceSummary.CGST}">0.00</span><br>
                                <span id="sgst" th:text="${invoice.priceSummary.SGST}">0.00</span><br>
                                <b><span id="grandTotal" th:text="${invoice.priceSummary.grandTotal}">0.00</span></b>
                            </div>
                        </div>
                        <!-- Tax summary block end -->

                        <div style="clear:both;padding:10px 20px;margin:0px;font-style:italic;">
                            <div style="float: left;">
                                <div>Disclaimer:</div>
                                <div>1. This is computer generated invoice and does not require signature</div>
                                <div>2. For other T&amp;C Please refer our website www.lenskart.com</div>
                                <div>3. Tax is payable on reverse charge basis: No</div>
                            </div>
                            <div style="float: right; text-align: center;">
                                <div id="companyName" style="margin-bottom: 10px">Dealskart online service Pvt. Ltd.
                                </div>
                                <img style="height: 40px;"
                                     src="https://static5.lenskart.com/images/cust_mailer/Feb-18th/signature.png"
                                     alt="signature">
                                <div>Authorized Signatory</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Product information block -->
    </div>
</div>
</body>
</html>