<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><span th:text="${invoice.invoiceDate}"></span></p>
<p><span th:utext="${invoice.invoiceNumber}"></span></p>
<span th:text="${invoice.invoiceNumber}"></span>
<tr th:each="good: ${invoice.goods}">
    <td th:text="${good.description}"></td>
</tr>
<p><span th:text="${invoice.invoiceDate}+12312+${invoice.invoiceNumber}"></span></p>
<p>th:text="${invoice.invoiceDate}+' 12312 '+${invoice.invoiceNumber}"</p>
</body>
</html>